extends layout


block content

    .page-header
      h1.text-center Mascots List
      .container
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            a.btn.btn-lg.btn-primary.btn-circle.btn-xl.marginbig(href='/mascots/new')
              span.glyphicon.glyphicon-plus
                br
                span New

            each item in mascots
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .panel.panel-default(onclick='return init_map(#{item.latitude},#{item.longitude});')
                    .row.padall
                      .col-xs-12.col-sm-12.col-md-3.col-lg-3
                        span

                        img(src='/images/darth.jpg')

                      .col-xs-12.col-sm-12.col-md-9.col-lg-9
                        .clearfix
                          .pull-left
                            h3
                              span #{item.name}



                        div
                          h4  #{item.category}
                          span.fa.fa-map-marker.icon  lat:  #{item.latitude}
                          br
                          span.fa.fa-map-marker.icon  lng:  #{item.longitude}
                          button.btn.btn-primary.pull-right Edit




          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            .row.padbig
              #map.map
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script(type='text/javascript').

      function init_map(latitude,longitude) {
      var myLocation = new google.maps.LatLng(latitude, longitude);
      var mapOptions = {
      center: myLocation,
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var marker = new google.maps.Marker({
      position: myLocation,
      title: "Property Location"
      });
      var map = new google.maps.Map(document.getElementById("map"),
      mapOptions);
      marker.setMap(map);
      }
      init_map(45.32,10.13);
    style.
      .gmnoprint img {
      max-width: none;
      }
      .panel:hover {
      background-color: rgb(237, 245, 252);
      }
      .map {
      min-width: 300px;
      min-height: 470px;
      width: 100%;
      height: 100%;
      }
      img {
      width: 100%;
      height: inherit;
      }
      .clearfix {
      clear: both;
      }
      .rowcolor {
      background-color: #CCCCCC;
      }
      .padall {
      padding: 10px;
      }
      .padbig {
      padding: 20px;
      }
      .icon {
      font-size: 23px;
      color: #197BB5;
      }
      .marginbig{
      margin:20px;
      }
      .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
      }
      .btn-circle.btn-xl {
        width: 80px;
        height: 80px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 40px;
      }
